.container {
  position: relative;
  margin-bottom: var(--spacing-md);
}

.container:last-child {
  margin-bottom: 0;
}

.preWithLock {
  margin-bottom: 0;
  border-radius: var(--radius-sm) var(--radius-sm) 0 0;
}
