.badge {
  position: absolute;
  top: var(--spacing-md);
  right: var(--spacing-md);
  padding: var(--spacing-xs) var(--spacing-lg);
  border-radius: var(--radius-md);
  font-size: 12px;
  font-weight: bold;
  color: var(--color-text);
}

.priority0 {
  background: var(--gradient-priority-0);
}

.priority1 {
  background: var(--gradient-priority-1);
}

.priority2 {
  background: var(--gradient-priority-2);
}

.priorityDefault {
  background: var(--gradient-priority-default);
}
